/* universal selector */
* {
  margin: 0;
  padding: 0;
}

/* type selector */
body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

/* class selector */
.navbar{
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 126, 0.963);
  margin: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  list-style: none;
  padding: 20px;
  opacity: 90%;
}

/* child selector */
ul > li > a {
  font-weight: bold;
  color: rgb(238, 203, 161);
  font-family: Verdana, 'Geneva', Tahoma, sans-serif;
  text-decoration: none;
}

/* child selector */
ul > li > a:hover {
  color: rgb(254, 195, 124);
  text-decoration-line: underline overline;
  font-size: 17px;
}

/* class selector */
.logo {
  font-weight: bold;
  font-family: Verdana, 'Geneva', Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 6000;
  justify-content: left;
  color: rgb(238, 203, 161);
  cursor: default;
}

/* child selector */
.logo > li{
  text-align: left;
}

/* class selector */
.line {
  font-weight: bolder;
  color: rgb(238, 203, 161);
  cursor: default;
}

/* class selector */
.img {
  width: fit-content;
  height: fit-content;
  border: none;
}

/* child selector */
.img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* type selector */
h1 {
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  border-radius: 45px;
}

/* class selector */
.smallest-body {
  display: flex;
  height: 400px;
}

/* class selector */
.first-half {
  text-align: center;
  flex: 1;
  padding: 30px;
  font-family: Verdana, 'Geneva', Tahoma, sans-serif;
  background-color: rgb(209, 209, 209);
  border-radius: 45px;
}

/* class selector */
.second-half {
  text-align: center;
  flex: 1;
  padding: 30px;
  font-family: Verdana, 'Geneva', Tahoma, sans-serif;
  background-color: rgb(235, 235, 235);
  border-radius: 45px;
}

/* id selector */
#loginForm {
  height: 100px;
  align-items: center;
}

/* class selector */
.footer {
  background-color: rgba(0, 0, 126, 0.963);
}

/* child selector */
.footer > p {
  color: white;
  font-family: Verdana, 'Geneva', Tahoma, sans-serif;
  padding: 40px;
  text-align: center;
}

@media (max-width: 800px) {
  body{
    background-color: black;
  }

  .navbar{
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.963);
  margin: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  list-style: none;
  padding: 20px;
  }

  ul > li > a {
  font-weight: bold;
  color: rgb(238, 203, 161);
  font-family: Verdana, 'Geneva', Tahoma, sans-serif;
  text-decoration: none;
  font-size: 9px;
}

ul > li > a:hover {
  color: rgb(254, 195, 124);
  text-decoration-line: underline overline;
  font-size: 12px;
}
.logo {
  font-weight: bold;
  font-family: Verdana, 'Geneva', Tahoma, sans-serif;
  font-size: 15px;
  font-weight: 600;
  justify-content: left;
  color: rgb(238, 203, 161);
  cursor: default;
}
}
